<html>
<head>
    <title>Foo</title>
    <style>
      a, body {color: #ddd;}
    </style>
</head>
<body style="background: #1c1d21;">
    <div id="app"><%= html %></div>
    <script src="static/vendor.bundle.js"></script>
    <script src="static/app.bundle.js"></script>
</body>
</html>
