<html>
<head>
    <title>Foo</title>
</head>
<body>
    <div id="app"><%= html %></div>
    <script src="static/vendor.bundle.js"></script>
    <script src="static/app.bundle.js"></script>
</body>
</html>
